#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  z-index: 1;
  margin: 5%;
}

.logo {
  width: 15%;
  height: auto;
}

.myNav {
  display: block;
  height: 1vw;
  line-height: 5vw;
  z-index: 5;
}

.left-header {
  float: left;
  margin-left: 5%;
}

.right-header {
  float: right;
  margin-right: 5%;
}

.myNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.myNav li {
  display: inline-block;
}

.myNav li a {
  color: black;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 2vw 2.5vw;
  font-size: min(2vw, 1em);
}

.myNav li a:hover {
  text-decoration: underline;
}

body {
  cursor: url("cursor.png"), auto;
  background-color: transparent;
  font-family: 'facebook-letter-faces-regular', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1 {
  padding: 2vw 2.5vw;
  font-size: 16vh;
  font-size: min(12vw, 1em);
}

.name p {
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 2%;
  font-size: 5vw;
  font-size: min(5vw, 10em);
  font-family: 'Quicksand', sans-serif;
}

.headshot {
  display: flex;
  flex-direction: row;
}

.description {
  margin-top: 0;
  margin-bottom: 12%;
  margin-left: 2%;
  margin-left: 2%;
  font-size: min(3vw, 10em);
  width: 50%;
  text-align: left;
  text-align: left;
}

.about {
  text-align: left;
  font-size: min(2vw, 10em);
  text-align: left;
  font-size: min(2vw, 10em);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  font-family: 'facebook-letter-faces-regular', sans-serif;
  font-family: 'facebook-letter-faces-regular', sans-serif;
}

.image {
  width: 50%;
  margin-top: 3%;
  text-align: center;
  display: flex;
  align-content: center;
}

.headshot img {
  width: 40%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

#p5Canvas {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.proj_container {
  margin-right: 5%;
  margin-left: 5%;
}


.project p {
  margin-top: 10%;
  font-size: min(5vw, 10em);
  font-family: 'Quicksand', sans-serif;
}

.myBtnContainer {
  overflow: hidden;
}

.btn {
  font-family: 'Fraunces', serif;
  border-width: 1px;
  border-radius: 2%;
  padding: 1.5vh;
  margin-bottom: 1%;
  font-size: min(1.5vw, 10em);
  background-color: white;
  border-color: black;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
}

.gridLayout {
  font-family: 'Fraunces', serif;
  margin-top: 4%;
  margin-bottom: 15%;
  padding-bottom: 15%;
}

#outputGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr)); /* Adjust grid layout */
  gap: 3%;
  margin-bottom: 5vw;
}


#outputGrid>a, #outputGrid>a:visited {
  color: #000;
  text-decoration: none;
  border-radius: 3px;
  width: 100%;
}

#outputGrid>a:hover {
  color: navy;
}

.previewTitle {
  font-weight: bold;
  margin-bottom: 1.25vw;
}

.thumbnail {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  border-radius: 3px;
  display: flex;
}

#connect_button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 1%;
  margin-bottom: 5%;
  z-index: 9999;
}

footer {
  margin-top: auto;
  padding: 1%;
  background-color: #f1f1f1;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  z-index: 10;
}